.SearchBar {
 margin-left: 40px;
 display: flex;
 align-items: center;
}
.SearchBar input {
  width: 500px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 20px;
  margin-left: 10px;
}